<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Store Name</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon">
          <i class="fas fa-shopping-basket"></i>
          <!-- Replace NEED NEW TOGGLE BUTTON with icon -->
          <!-- cart count  -->
          <span class="cart-count">{{ cartService.getItems().length }}</span>
        </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex ms-auto">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Return</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Order</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" (click)="goToCheckout()">
              <img
                src="./assets/Images/add-to-cart (1).png"
                alt="Cart"
                width="30"
                height="30"
                class="d-inline-block align-text-top"
              />
              <span class="cart-count">{{
                cartService.getItems().length
              }}</span>
            </a>
          </li>
        </ul>
        <div class="row">
          <div class="col-md-4">
            <div class="language">
              <ul>
                <!-- <li onclick="drop('lang')">
                  English <i class="fa fa-caret-down"></i>
                  <div class="dropdown" *ngIf="id === 'lang'">
                    <ul>
                      <li>English</li>
                      <li>Arabic</li>
                    </ul>
                  </div>
                </li> -->
                <li (click)="drop('priceCode')">
                  {{ selectedCurrency }} <i class="fa fa-caret-down"></i>
                  <div class="dropdown" *ngIf="id === 'priceCode'">
                    <ul>
                      <li (click)="setCurrency('INR')">INR</li>
                      <li (click)="setCurrency('USD')">USD</li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
