/*
HEADER
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: whitesmoke;
}

.navbar-brand {
  font-size: 2rem;

  color: black;
  font-family: "Lobster", cursive;
}
.navbar-brand:hover {
  color: black;
}
.nav-link {
  margin-right: 10px;
  margin-left: 10px;
  color: black;

  text-transform: uppercase;
}

.nav-link:haver {
  color: black;
}
.search {
  height: 40px;
  width: 80%;
  border-radius: 60px;
  margin-right: -35px;
  outline: none;
  font-family: "Rubik", sans-serif;
  border: 2px solid orangered;
}
.btn0 {
  height: 40px;

  width: 40%;
  outline: none;
  border: none;
  background: rgb(14, 5, 5);
  color: aliceblue;
  border-radius: 60px;
  font-weight: 700;
}
/*
HEADER
*/

/*  FLEX*/
.product {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-color {
  background: #eee;
  padding: 60px 0;
  font-family: "Roboto", sans-serif;
}

.containers {
  width: 90%;
  margin: 0 auto;
}

.title {
  margin-bottom: 10px;
  padding-bottom: 40px;
  text-align: center;
  position: relative;
}

.title::before {
  content: "";
  width: 200px;
  height: 3px;
  background: #dbdbdb;
  opacity: 0.6;
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
}

.title::after {
  content: "\f005";
  font-family: FontAwesome;
  color: #dbdbdb;
  width: 50px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  position: absolute;
  bottom: 10%;
  left: 50%;
  background: #eee;
  transform: translateX(-50%);
  font-size: 16px;
}

.title p {
  color: #999;
  font-style: italic;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 1rem;
}

.title h2 {
  font-size: 44px;
  color: #131313;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}

.title span {
  color: #fa0;
}

.card {
  transition: all 0.2s ease-in-out 0s;
  border-radius: 3px;
}

.card-main {
  position: relative;
  /* overflow: hidden; */
}

.discount {
  background: #fa0;
  z-index: 3;
  position: relative;
  font-weight: 700;
  color: #fff;
  text-align: center;
  display: block;
  text-transform: uppercase;
  width: 70px;
  height: 30px;
  border-radius: 0 15px 15px 0;
  line-height: 30px;
  font-style: italic;
  left: -9px;
  top: 30px;
}

.discount::after {
  border-top: 6px solid #c80;
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  border-left: 8px solid transparent;
  border-right: 0px solid transparent;
}

.label {
  position: absolute;
  bottom: 84px;
  left: 10px;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 2;
  line-height: 100%;
  color: #fff;
  border-radius: 3px;
}

.label-green {
  padding: 5px 8px;
  background-color: #5cb85c;
}

.image img {
  width: 100%;
  height: 100%;
}

.cart-line {
  height: 2px;
  background: #f1f1f1;
}

.cart-item {
  text-align: center;
  line-height: 45px;
  background-color: #111;
  transition: all 1s ease-in-out;
  opacity: 0;
  position: relative;
  top: -30px;
}

.cart-item ul {
  padding: 0;
  margin: 0;
}

.cart-item ul li {
  display: inline-block;
  list-style-type: none;
  position: relative;
}

.cart-item ul li::after {
  content: "";
  width: 1px;
  height: 18px;
  background: rgba(255, 255, 255, 0.15);
  position: absolute;
  left: -2px;
  top: 10px;
}

.cart-item ul li:first-child:after {
  display: none;
}

.cart-item ul li a {
  padding: 0 18px;
  color: #ccc;
}

.cart-item ul li a:hover {
  color: #fa0;
}

.product-container {
  position: absolute;
  right: -40px;
  top: 10px;
  z-index: 4;
  transition: 0.6s;
  opacity: 0;
}

.card:hover .product-container {
  opacity: 1;
  right: 10px;
}

.card:hover .cart-item {
  opacity: 1;
  top: 0;
}

.p {
  border: 2px;
  border: 1px solid rgb(233, 233, 233);
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.p img {
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.p img:hover {
  opacity: 1;
}

.content {
  padding: 16px 0;
  text-align: center;
}

.content a {
  font-size: 16px;
  color: #555;
  font-weight: 700;
  text-transform: capitalize;
  transition: all 0.3s;
}

.content a:hover {
  color: #fa0;
  text-decoration: none;
}

.content p {
  margin-bottom: 0;
}

.content .money {
  font-size: 20px;
  color: #fa0;
  font-weight: 700;
  font-style: italic;
  margin-right: 6px;
}

.content .price-old {
  line-height: 18px;
  display: inline-block;
  text-decoration: line-through;
  color: #888;
  font-style: italic;
  font-weight: 400;
}

.rating i {
  color: #fa0;
  line-height: 22px;
  margin: 0 2px;
  font-size: 12px;
}
/**/ /* HEADER 2*/
header {
  background: #111;
  color: #777;
  padding: 15px 0;
}

.language ul,
.menu-social ul {
  padding: 0;
  margin: 0;
}

.language > ul > li,
.menu-social ul li {
  list-style-type: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  display: inline-block;
  margin-right: 20px;
  padding-right: 20px;
  border-right: 1px solid rgb(226, 226, 226);
}

.language > ul > li:last-child {
  border-right: none;
}

.language ul li i {
  margin-left: 4px;
  font-size: 14px;
}

.dropdown {
  background: #fff;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 4px;
  position: absolute;
  z-index: 4;
  padding: 10px;
  top: 36px;
  width: 116px;
  text-align: center;
}

.dropdown ul li {
  list-style-type: none;
  border-bottom: 1px solid rgb(226, 226, 226);
  padding: 4px 0;
  transition: 0.3s all ease;
}

.dropdown ul li:hover,
.menu-social ul li a:hover {
  color: #ff4000;
}

.dropdown ul li:last-child {
  border-bottom: none;
}

.menu-social ul li {
  border-right: none;
}

.menu-social ul li a {
  color: #777;
  text-decoration: none;
  transition: 0.3s all ease;
}

.menu-social ul li:nth-child(4) {
  border-right: 1px solid rgb(226, 226, 226);
}

.login {
  background: #777;
  padding: 5px 22px;
  margin-left: 12px;
  border-radius: 4px;
  color: #fff !important;
  transition: 0.3s all ease;
}

.login:hover {
  background: #ff4000;
}
