<section class="h-100 h-custom" style="background-color: #eee">
  <div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card shopping-cart" style="border-radius: 15px">
          <div class="card-body text-black">
            <div class="row" *ngFor="let item of items; let i = index">
              <div class="col-lg-6 px-5 py-4">
                <h3 class="mb-5 pt-2 text-center fw-bold text-uppercase">
                  Your products
                </h3>

                <div class="d-flex align-items-center mb-5">
                  <div class="flex-shrink-0">
                    <img
                      src="{{ item.imgUrl }}"
                      class="img-fluid"
                      style="width: 150px"
                      alt="Generic placeholder image"
                    />
                  </div>
                  <div class="flex-grow-1 ms-3">
                    <a
                      href="#!"
                      class="float-end text-black"
                      (click)="removeFromCart(item)"
                      ><i class="fas fa-times"></i
                    ></a>
                    <h5 class="text-primary">{{ item.name }}</h5>
                    <h6 style="color: #9e9e9e">Color: {{ item.color }}</h6>
                    <div class="d-flex align-items-center">
                      <p class="fw-bold mb-0 me-5 pe-3">
                        {{ item.price * item.quantity }}$
                      </p>
                      <div class="def-number-input number-input safari_only">
                        <button
                          (click)="decrementQuantity(i)"
                          class="minus"
                        ></button>
                        <input
                          class="quantity fw-bold text-black"
                          min="0"
                          name="quantity"
                          [value]="item.quantity"
                          type="number"
                        />
                        <button
                          (click)="incrementQuantity(i)"
                          class="plus"
                        ></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6 px-5 py-4">
                <div class="text-center">
                  <button class="btn btn-primary btn-lg" (click)="clearCart()">
                    Clear Cart
                  </button>
                </div>
              </div>
              <div class="col-lg-6 px-5 py-4">
                <div class="text-center">
                  <h4 class="mb-5 pt-2 text-uppercase">
                    <ul>
                      <li *ngFor="let item of items">
                        {{ item.name }} - {{ item.quantity }} x
                        {{ item.price | currency }} =
                        {{ item.quantity * item.price | currency }}
                        <button (click)="removeFromCart(item)">Remove</button>
                      </li>
                    </ul>
                    <p>
                      Total amount: {{ total | currency : selectedCurrency }}
                    </p>
                  </h4>

                  <button
                    class="btn btn-primary btn-lg"
                    [disabled]="items.length == 0"
                  >
                    Checkout
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--//////////////////////////////////////////footer-->

<section class="footer-top">
  <div class="containers">
    <div class="row">
      <div class="col-md-4">
        <div class="footer-logo">
          <img src="../assets/Images/add-to-cart (1).jpg" alt="footer" />
        </div>
        <div class="footer-all-menu">
          <ul>
            <li>
              <i class="fa fa-home"> </i>
              <span class="heading">Address</span>
              <span class="Address"> Talent SPrint ,Hyderabad -500001</span>
            </li>
            <li>
              <i class="fa fa-envelope"></i>
              <span class="heading">Mail Us:</span>
              <span class="email">
                <a href="mailto:example@gmail.com">example@gmail.com</a></span
              >
            </li>
            <li>
              <i class="fa fa-phone"></i>
              <span class="heading">Contact Us:</span>
              <span class="number">
                <a href="tel:1234567890">1234567890</a>
              </span>
            </li>
            <li>
              <a href="">
                <img src="" alt="Payment" />
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="footer-all-menu">
          <h2>My Account</h2>
          <ul>
            <li>
              <i class="fa fa-circle"></i>
              <a href="">Information</a>
            </li>
            <li>
              <i class="fa fa-circle"></i>
              <a href="">Order History</a>
            </li>
            <li>
              <i class="fa fa-circle"></i>
              <a href="">My Wishlist</a>
            </li>
            <li>
              <i class="fa fa-circle"></i>
              <a href="">Privacy Policy</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-3">
        <div class="footer-all-menu">
          <h2>Information</h2>
          <ul>
            <li>
              <i class="fa fa-circle"></i>
              <a href="">Cart</a>
            </li>
            <li>
              <i class="fa fa-circle"></i>
              <a href="">Product Support</a>
            </li>
            <li>
              <i class="fa fa-circle"></i>
              <a href="">Setup & Support</a>
            </li>
            <li>
              <i class="fa fa-circle"></i>
              <a href="">Services</a>
            </li>
            <li>
              <i class="fa fa-circle"></i>
              <a href="">Extended Services Plans</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-2">
        <div class="footer-all-menu">
          <h2>Our Services</h2>
          <ul>
            <li>
              <i class="fa fa-circle">
                <a href="">About</a>
              </i>
            </li>
            <li>
              <i class="fa fa-circle"></i>
              <a href="">Shipping Guide</a>
            </li>
            <li>
              <i class="fa fa-circle"></i>
              <a href="">Affilates</a>
            </li>
            <li>
              <i class="fa fa-circle"></i>
              <a href="">Custom Point Policy</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="footer-middle">
  <div class="containers">
    <div class="row">
      <div class="col-md-4">
        <h2>Sign up for our exclusive Newsletter</h2>
      </div>
      <div class="col-md-4">
        <input type="mail" class="input" placeholder="Email" />
        <button type="button" class="btn1">
          <i class="fa fa-location-arrow"></i>
        </button>
      </div>
      <div class="col-md-4">
        <div class="social text-center">
          <ul>
            <li>
              <a href="https://www.facebook.com/yourpage"
                ><i class="fa fa-facebook"></i
              ></a>
            </li>
            <li>
              <a href="https://twitter.com/yourusername"
                ><i class="fa fa-twitter"></i
              ></a>
            </li>
            <li>
              <a href="https://www.pinterest.com/yourusername"
                ><i class="fa fa-pinterest"></i
              ></a>
            </li>
            <li>
              <a href="https://www.instagram.com/yourusername"
                ><i class="fa fa-instagram"></i
              ></a>
            </li>
            <li>
              <a href="https://plus.google.com/yourpage"
                ><i class="fa fa-google-plus"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="containers text-center">
    <p>@ 2023 FSD 38 Team-2<a href="">Developer</a>All Rights Reserved</p>
  </div>
</footer>
