@media (min-width: 1025px) {
  .h-custom {
    height: 100vh !important;
  }
}

.number-input input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.number-input input[type="number"]::-webkit-inner-spin-button,
.number-input input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input button {
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0;
  position: relative;
}

.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: "";
  height: 2px;
  transform: translate(-50%, -50%);
}

.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type="number"] {
  text-align: center;
}

.number-input.number-input {
  border: 1px solid #ced4da;
  width: 10rem;
  border-radius: 0.25rem;
}

.number-input.number-input button {
  width: 2.6rem;
  height: 0.7rem;
}

.number-input.number-input button.minus {
  padding-left: 10px;
}

.number-input.number-input button:before,
.number-input.number-input button:after {
  width: 0.7rem;
  background-color: #495057;
}

.number-input.number-input input[type="number"] {
  max-width: 4rem;
  padding: 0.5rem;
  border: 1px solid #ced4da;
  border-width: 0 1px;
  font-size: 1rem;
  height: 2rem;
  color: #495057;
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
    .number-input.def-number-input.safari_only button:before,
    .number-input.def-number-input.safari_only button:after {
      margin-top: -0.3rem;
    }
  }
}

.shopping-cart .def-number-input.number-input {
  border: none;
}

.shopping-cart .def-number-input.number-input input[type="number"] {
  max-width: 2rem;
  border: none;
}

.shopping-cart .def-number-input.number-input input[type="number"].black-text,
.shopping-cart .def-number-input.number-input input.btn.btn-link[type="number"],
.shopping-cart
  .def-number-input.number-input
  input.md-toast-close-button[type="number"]:hover,
.shopping-cart
  .def-number-input.number-input
  input.md-toast-close-button[type="number"]:focus {
  color: #212529 !important;
}

.shopping-cart .def-number-input.number-input button {
  width: 1rem;
}

.shopping-cart .def-number-input.number-input button:before,
.shopping-cart .def-number-input.number-input button:after {
  width: 0.5rem;
}

.shopping-cart .def-number-input.number-input button.minus:before,
.shopping-cart .def-number-input.number-input button.minus:after {
  background-color: #9e9e9e;
}

.shopping-cart .def-number-input.number-input button.plus:before,
.shopping-cart .def-number-input.number-input button.plus:after {
  background-color: #4285f4;
}

/*Footer*/
.footer-top {
  padding: 50px 0;
  background: #111;
}
.footer-top-menu ul {
  padding: 0;
  margin: 0;
}
.footer-top-menu ul li {
  list-style-type: none;
  margin-top: 20px;
  color: #111;
}

.footer-top-menu ulli i {
  margin-top: 10px;
  font-size: 17px;
}
.footer-top-menu ul li .heading {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
}
.footer-top-menu ul li .address {
  color: #111;
  padding-left: 10px;
  font-size: 15px;
}
.footer-top-menu ul li .email {
  padding-left: 10px;
  color: #111;
  text-decoration: underline;

  transition: 0.3s all ease;
  font-size: 15;
}
.footer-top-menu ul li .email a:hover {
  color: #ff4e00;
}
.footer-top-menu ul li .number a {
  color: Z #ff4e00;
  font-size: 20px;
  font-weight: 700px;
  padding-left: 10px;
  text-decoration: none;
}
.footer-all-menu h2 {
  color: #ff4000;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
  margin: 0;
}
.footer-all-menu h2::before {
  position: absolute;
  content: "";
  width: 50px;
  height: 2px;
  background: white;
  opacity: 0.1;
  bottom: -19px;
  left: 0;
}
.footer-all-menu ul {
  padding: 0;
  margin: 30px 0 0 0;
}
.footer-all-menu ul li {
  list-style-type: none;
  margin-top: 8px;
}
.footer-all-menu ul li a {
  text-decoration: none;
  font-weight: 400;
  color: white;
  font-size: 15px;
  transition: all 0.3s ease;
}
.footer-all-menu ul li i {
  font-size: 7px;
  margin: -2px 10px 0 0;
}
.footer-all-menu ul li a:hover {
  color: #ff4000;
  margin-left: 10px;
}
/* UNder footer*/
.footer-middle {
  padding: 50px 0;
  background: #111;
}
.footer-middle h2 {
  font-size: 20px;
  color: #941111;
  font-weight: 700;
}
.input {
  border: 0;
  outline: 0;
  color: #c80e0e;
  background: #ff4000;
  padding: 0 16px;
  margin: 0;
  min-width: 360px;
  height: 45px;
  font-size: 14px;
  font-style: italic;
  border-radius: 20px 0 0 20px;
  position: relative;
}
.btn1 {
  position: relative;
  top: 0;
  right: 0;
  /* color: #ff4000;
  background: #ff4000; */
  padding: 0 25px;
  border-radius: 0 20px 20px 0;
  height: 46px;
  border: 0;
  outline: 0;
  transition: all 0.3s ease;
}
.btn:active,
.btn:focus {
  border: 0 !important;
  outline: 0 !important;
  box-shadow: none;
}
.btn:hover i {
  color: #ff4000;
}

.socia ul {
  padding: 0;
  margin: 0;
}
.social ul li {
  position: relative;
  display: inline-blockb;
  margin-right: 5px;
  list-style-type: none;
}

.social ul li a {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: rgb(234, 238, 238);

  display: inline-block;
  font-size: 18px;
  color: #c9c9c9;
  transform: all 0.3s ease;
}

.social ul li {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.social ul Ii a:hover {
  background: O#ff4000;
  color: #fff;
}

.footer {
  padding: 20px 0;
  background: #111;
}
.footer p {
  margin: 0;
  padding: 0;
  color: #ccc;
}

.footer p a {
  color: #fff;
  transition: all 0.3s ease;
}
footer p a:hover {
  text-decoration: none;
  color: #ff4000;
}
