/*
HEADER
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: whitesmoke;
}

.navbar-brand {
  font-size: 2rem;

  color: black;
  font-family: "Lobster", cursive;
}
.navbar-brand:hover {
  color: black;
}
.nav-link {
  margin-right: 10px;
  margin-left: 10px;
  color: black;

  text-transform: uppercase;
}

.nav-link:haver {
  color: black;
}
.search {
  height: 40px;
  width: 80%;
  border-radius: 60px;
  margin-right: -35px;
  outline: none;
  font-family: "Rubik", sans-serif;
  border: 2px solid orangered;
}
.btn0 {
  height: 40px;

  width: 40%;
  outline: none;
  border: none;
  background: rgb(14, 5, 5);
  color: aliceblue;
  border-radius: 60px;
  font-weight: 700;
}
/*
HEADER
*/
/*
MAIN
*/
.main {
  background: url("src/assets/Images/BackGround.png") no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: 50% 50%;
  width: 100%;
}
.main h1 {
  font-size: 4rem;
  font-weight: 700;
}
.btn1 {
  height: 45px;
  width: 30%;
  border: none;
  outline: none;
  background-color: orangered;
  color: aliceblue;
  font-weight: 700;
  border-radius: 60px;
}
/*
card 2
*/
.card1 {
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10pxs;
}
/*
card 2
*/
.card {
  text-align: center;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10pxs;
}
h1 {
  font-weight: 60px;
}
.btn1:hover {
  background-color: red;
  transition: 0.5s;
}
.card:hover {
  box-shadow: -2px -1px 25px -4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -2px -1px 25px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px -1px 25px -4px rgba(0, 0, 0, 0.75);
  transition: 0.5s;
}

/* Footer */
.news {
  background-color: black;
  color: aliceblue;
}
.btn2 {
  height: 45px;
  width: 100px;
  border: none;
  outline: none;
  background-color: white;
  margin-left: -10px;
  border: 2px solid white;
  font-weight: 600;
}
.news input {
  height: 45px;
  width: 55%;
  border: none;
  outline: none;
  background-color: black;
  color: aliceblue;
  margin-top: 20px;
  border: 2px solid white;
  font-weight: 600;
}
.news::placeholder {
  color: white;
}
.news p {
  margin: 0;
}
.fab {
  font-size: 2.5rem;
  cursor: pointer;
  padding-right: 5px;
}

.underline,
.pb-3 {
  color: orangered;
  font-family: "Lobster", cursive;
}
#GFG {
  text-decoration: none;
}
#fl {
  text-decoration: none;
}
#c1,
#c {
  color: orangered;
  font-weight: 700;
  font-family: "Lobster", cursive;
}
#rc,
.card {
  color: brown;
  font-weight: 400;
}
/*  FLEX*/
.product {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
/**/ /**/ /**/ /**/ /**/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.bg-color {
  background: #eee;
  padding: 60px 0;
  font-family: "Roboto", sans-serif;
}

.containers {
  width: 90%;
  margin: 0 auto;
}

.title {
  margin-bottom: 10px;
  padding-bottom: 40px;
  text-align: center;
  position: relative;
}

.title::before {
  content: "";
  width: 200px;
  height: 3px;
  background: #dbdbdb;
  opacity: 0.6;
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
}

.title::after {
  content: "\f005";
  font-family: FontAwesome;
  color: #dbdbdb;
  width: 50px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  position: absolute;
  bottom: 10%;
  left: 50%;
  background: #eee;
  transform: translateX(-50%);
  font-size: 16px;
}

.title p {
  color: #999;
  font-style: italic;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 1rem;
}

.title h2 {
  font-size: 44px;
  color: #131313;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}

.title span {
  color: #fa0;
}

.card {
  transition: all 0.2s ease-in-out 0s;
  border-radius: 3px;
}

.card-main {
  position: relative;
  /* overflow: hidden; */
}

.discount {
  background: #fa0;
  z-index: 3;
  position: relative;
  font-weight: 700;
  color: #fff;
  text-align: center;
  display: block;
  text-transform: uppercase;
  width: 70px;
  height: 30px;
  border-radius: 0 15px 15px 0;
  line-height: 30px;
  font-style: italic;
  left: -9px;
  top: 30px;
}

.discount::after {
  border-top: 6px solid #c80;
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  border-left: 8px solid transparent;
  border-right: 0px solid transparent;
}

.label {
  position: absolute;
  bottom: 84px;
  left: 10px;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 2;
  line-height: 100%;
  color: #fff;
  border-radius: 3px;
}

.label-green {
  padding: 5px 8px;
  background-color: #5cb85c;
}

.image img {
  width: 100%;
  height: 100%;
}

.cart-line {
  height: 2px;
  background: #f1f1f1;
}

.cart-item {
  text-align: center;
  line-height: 45px;
  background-color: #111;
  transition: all 1s ease-in-out;
  opacity: 0;
  position: relative;
  top: -30px;
}

.cart-item ul {
  padding: 0;
  margin: 0;
}

.cart-item ul li {
  display: inline-block;
  list-style-type: none;
  position: relative;
}

.cart-item ul li::after {
  content: "";
  width: 1px;
  height: 18px;
  background: rgba(255, 255, 255, 0.15);
  position: absolute;
  left: -2px;
  top: 10px;
}

.cart-item ul li:first-child:after {
  display: none;
}

.cart-item ul li a {
  padding: 0 18px;
  color: #ccc;
}

.cart-item ul li a:hover {
  color: #fa0;
}

.product-container {
  position: absolute;
  right: -40px;
  top: 10px;
  z-index: 4;
  transition: 0.6s;
  opacity: 0;
}

.card:hover .product-container {
  opacity: 1;
  right: 10px;
}

.card:hover .cart-item {
  opacity: 1;
  top: 0;
}

.p {
  border: 2px;
  border: 1px solid rgb(233, 233, 233);
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.p img {
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.p img:hover {
  opacity: 1;
}

.content {
  padding: 16px 0;
  text-align: center;
}

.content a {
  font-size: 16px;
  color: #555;
  font-weight: 700;
  text-transform: capitalize;
  transition: all 0.3s;
}

.content a:hover {
  color: #fa0;
  text-decoration: none;
}

.content p {
  margin-bottom: 0;
}

.content .money {
  font-size: 20px;
  color: #fa0;
  font-weight: 700;
  font-style: italic;
  margin-right: 6px;
}

.content .price-old {
  line-height: 18px;
  display: inline-block;
  text-decoration: line-through;
  color: #888;
  font-style: italic;
  font-weight: 400;
}

.rating i {
  color: #fa0;
  line-height: 22px;
  margin: 0 2px;
  font-size: 12px;
}
/**/ /* HEADER 2*/
header {
  background: #111;
  color: #777;
  padding: 15px 0;
}

.language ul,
.menu-social ul {
  padding: 0;
  margin: 0;
}

.language > ul > li,
.menu-social ul li {
  list-style-type: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  display: inline-block;
  margin-right: 20px;
  padding-right: 20px;
  border-right: 1px solid rgb(226, 226, 226);
}

.language > ul > li:last-child {
  border-right: none;
}

.language ul li i {
  margin-left: 4px;
  font-size: 14px;
}

.dropdown {
  background: #fff;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 4px;
  position: absolute;
  z-index: 4;
  padding: 10px;
  top: 36px;
  width: 116px;
  text-align: center;
}

.dropdown ul li {
  list-style-type: none;
  border-bottom: 1px solid rgb(226, 226, 226);
  padding: 4px 0;
  transition: 0.3s all ease;
}

.dropdown ul li:hover,
.menu-social ul li a:hover {
  color: #ff4000;
}

.dropdown ul li:last-child {
  border-bottom: none;
}

.menu-social ul li {
  border-right: none;
}

.menu-social ul li a {
  color: #777;
  text-decoration: none;
  transition: 0.3s all ease;
}

.menu-social ul li:nth-child(4) {
  border-right: 1px solid rgb(226, 226, 226);
}

.login {
  background: #777;
  padding: 5px 22px;
  margin-left: 12px;
  border-radius: 4px;
  color: #fff !important;
  transition: 0.3s all ease;
}

.login:hover {
  background: #ff4000;
}
/**/ /*HEADER 2 */
/*Footer*/
.policy {
  background-image: url("../../assets/Images/BackGround.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  padding: 60px 0;
}
.round {
  padding: 23px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  font-size: 34px;
  background-color: (255, 255, 255, 0.2);
  transition: all.3s ease;
  margin: 0 auto;
  position: relative;
}
.round-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.policy-card {
  transition: all 0.3s ease;
  font-weight: 7øø;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  margin: 12px 0 5px;
}
.policy-card p {
  color: #dbdbdb;
  font-style: italic;
}
.policy-card:hover .round {
  background: #ff4000;
  cursor: pointer;
}
.policy-card:hover h2 {
  color: #ff4000;
  cursor: pointer;
}
/*CARDS */
.policy-product {
  padding: 60px 0;
  background: #eee;
}
.policy-p-card {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  border-bottom: 10px solid #a8a8a8;
  position: relative;
  top: -170px;
}
.date {
  position: absolute;
  top: 0;
  left: 30px;
  z-index: 2;
  background: gray;
  padding: 15px 10px;
  text-align: center;
  border-radius: 0 0 4px 4px;
}
.date h3 {
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  display: block;
  margin: 0;
  padding: 0;
}
.date h4 {
  color: #eee;
  margin: 0;
  padding: 0;
  font-size: 14px;
}
.policy-img {
  width: 100%;
  height: 200px;
  overflow: hidden;
}
.policy-img img {
  width: 100%;
  height: 2 00%;
  transition: all 0.3s ease;
}
.policy-img img:hover {
  transition: scale(1.2);
}
.policy-p-card h2 {
  text-transform: capitalize;
  line-height: 24px;
  font-size: 18px;
  font-weight: 700;
  margin: 18px 0 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.policy-p-card p {
  color: #777;
  line-height: 21px;
  font-size: 14px;
  transition: all 0.3s ease;
  font-weight: see;
}
.read-more {
  color: fff;
  font-size: 14px;
  font-weight: 7øø;
  padding: 14px e;
  display: block;
  background: O #333;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
}
.read-more i {
  margin-left: 4px;
}
.read-more:hover {
  background: #ff4000;
  color: #fff;
}
.read-more:hover i {
  margin-left: 6px;
}

.policy-p-card {
  color: #ff4000;
}
.partners img {
  transition: all 0.3s ease;
}
.partners img:hover {
  box-shadow: 0 0 10px 1px #dbdbdb;
}

/*
@import "~ngx-owl-carousel-o/lib/styles/base/owl.carousel.css";
@import "~ngx-owl-carousel-o/lib/styles/theme/owl.theme.default.css";
*/
/*Footer*/
.footer-top {
  padding: 50px 0;
  background: #111;
}
.footer-top-menu ul {
  padding: 0;
  margin: 0;
}
.footer-top-menu ul li {
  list-style-type: none;
  margin-top: 20px;
  color: #111;
}

.footer-top-menu ulli i {
  margin-top: 10px;
  font-size: 17px;
}
.footer-top-menu ul li .heading {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
}
.footer-top-menu ul li .address {
  color: #111;
  padding-left: 10px;
  font-size: 15px;
}
.footer-top-menu ul li .email {
  padding-left: 10px;
  color: #111;
  text-decoration: underline;

  transition: 0.3s all ease;
  font-size: 15;
}
.footer-top-menu ul li .email a:hover {
  color: #ff4e00;
}
.footer-top-menu ul li .number a {
  color: Z #ff4e00;
  font-size: 20px;
  font-weight: 700px;
  padding-left: 10px;
  text-decoration: none;
}
.footer-all-menu h2 {
  color: #ff4000;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  position: relative;
  margin: 0;
}
.footer-all-menu h2::before {
  position: absolute;
  content: "";
  width: 50px;
  height: 2px;
  background: #dbdbdb;
  opacity: 0.1;
  bottom: -19px;
  left: 0;
}
.footer-all-menu ul {
  padding: 0;
  margin: 30px 0 0 0;
}
.footer-all-menu ul li {
  list-style-type: none;
  margin-top: 8px;
}
.footer-all-menu ul li a {
  text-decoration: none;
  font-weight: 400;
  color: #666;
  font-size: 15px;
  transition: all 0.3s ease;
}
.footer-all-menu ul li i {
  font-size: 7px;
  margin: -2px 10px 0 0;
}
.footer-all-menu ul li a:hover {
  color: #ff4000;
  margin-left: 10px;
}
/* UNder footer*/
.footer-middle {
  padding: 50px 0;
  background: #111;
}
.footer-middle h2 {
  font-size: 20px;
  color: #941111;
  font-weight: 700;
}
.input {
  border: 0;
  outline: 0;
  color: #090909;
  background: #ff4000;
  padding: 0 16px;
  margin: 0;
  min-width: 360px;
  height: 46px;
  font-size: 14px;
  font-style: italic;
  border-radius: 20px 0 0 20px;
  position: relative;
}
.btn3 {
  position: relative;
  top: 0;
  right: 0;
  color: black;
  background: #ff4000;
  padding: 0 25px;
  border-radius: 0 20px 20px 0;
  height: 45px;
  border: 0;
  outline: 0;
  transition: all 0.3s ease;
}
.btn:active,
.btn:focus {
  border: 0 !important;
  outline: 0 !important;
  box-shadow: none;
}
.btn:hover i {
  color: #ff4000;
}

.socia ul {
  padding: 0;
  margin: 0;
}
.social ul li {
  position: relative;
  display: inline-blockb;
  margin-right: 5px;
  list-style-type: none;
}

.social ul li a {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);

  display: inline-block;
  font-size: 18px;
  color: #c9c9c9;
  transform: all 0.3s ease;
}

.social ul li {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.social ul Ii a:hover {
  background: O#ff4000;
  color: #fff;
}

.footer {
  padding: 20px 0;
  background: #111;
}
.footer p {
  margin: 0;
  padding: 0;
  color: #ccc;
}

.footer p a {
  color: #fff;
  transition: all 0.3s ease;
}
footer p a:hover {
  text-decoration: none;
  color: #ff4000;
}
