<!--src="./assets/Images/Batman Tshirt.jpg"-->
<!--(mouseover)="imageChange($event)""-->
<!--₹ ₹ ₹ ₹ ₹ ₹ ₹ ₹ ₹ -->
<!--
<section class="bg-color">
  <div class="title">
    <p>The Best Seller</p>
    <h2><span>Best</span> Seller</h2>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-main">
          <div class="discount">-9%</div>
          <div class="label label-green">Pre-order</div>
          <div class="product-container">
            <div class="p">
              <img src="./assets/Images/Batman Tshirt.jpg" alt="Product" />
            </div>
            <div class="p">
              <img src="./assets/Images/Batman Tshirt.jpg" alt="Product" />
            </div>
           
            <div class="p">
              <img src="./assets/Images/Batman Tshirt.jpg" alt="Product" />
            </div>
          </div>
          <div class="image">
            <img src="./assets/Images/Batman Tshirt.jpg" alt="Product" />
          </div>
          <div class="cart-line"></div>
          <div class="cart-item">
            <ul>
              <li>
                <a href=""><i class="fa fa-shopping-basket"></i></a>
              </li>
              <li>
                <a href=""><i class="fa fa-heart"></i></a>
              </li>
              <li>
                <a href=""><i class="fa fa-search"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="content">
          <a href="javascript:void(0);">Incid</a>
          <div class="rating">
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
          </div>
          <p>
            <span class="money">$81.00</span
            ><span class="price-old">$89.00</span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-main">
          <div class="discount">-10%</div>
          <div class="label label-green">Pre-order</div>
          <div class="product-container">
            <div class="p">
              <img
                src="C:/Angular/Store/Store/src/assets/Images/prod_12372370412.jpg"
                alt="Product"
              />
            </div>
            <div class="p">
              <img
                src="C:/Angular/Store/Store/src/assets/Images/prod_12372370412.jpg"
                alt="Product"
              />
            </div>
            <div class="p">
              <img
                src="C:/Angular/Store/Store/src/assets/Images/prod_12372370412.jpg"
                alt="Product"
              />
            </div>
          </div>
          <div class="image">
            <img
              src="C:/Angular/Store/Store/src/assets/Images/prod_12372370412.jpg"
              alt="Product"
            />
          </div>
          <div class="cart-line"></div>
          <div class="cart-item">
            <ul>
              <li>
                <a href=""><i class="fa fa-shopping-basket"></i></a>
              </li>
              <li>
                <a href=""><i class="fa fa-heart"></i></a>
              </li>
              <li>
                <a href=""><i class="fa fa-search"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="content">
          <a href="javascript:void(0);">Incr</a>
          <div class="rating">
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
          </div>
          <p>
            <span class="money">$81.00</span
            ><span class="price-old">$89.00</span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-main">
          <div class="discount">-8%</div>
          <div class="label label-green">Pre-order</div>
          <div class="product-container">
            <div class="p">
              <img
                src="C:/Angular/Store/Store/src/assets/Images/prod_12372370412.jpg"
                alt="Product"
              />
            </div>
            <div class="p">
              <img
                src="C:/Angular/Store/Store/src/assets/Images/prod_12372370412.jpg"
                alt="Product"
              />
            </div>
            <div class="p">
              <img
                src="C:/Angular/Store/Store/src/assets/Images/prod_12372370412.jpg"
                alt="Product"
              />
            </div>
          </div>
          <div class="image">
            <img
              src="C:/Angular/Store/Store/src/assets/Images/prod_12372370412.jpg"
              alt="Product"
            />
          </div>
          <div class="cart-line"></div>
          <div class="cart-item">
            <ul>
              <li>
                <a href=""><i class="fa fa-shopping-basket"></i></a>
              </li>
              <li>
                <a href=""><i class="fa fa-heart"></i></a>
              </li>
              <li>
                <a href=""><i class="fa fa-search"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="content">
          <a href="javascript:void(0);">Incidid </a>
          <div class="rating">
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
          </div>
          <p>
           
            <span class="money">₹81.00</span
            ><span class="price-old">₹89.00</span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-main">
          <div class="discount">-6%</div>
          <div class="label label-green">Pre-order</div>
          <div class="product-container">
            <div class="p">
              <img
                src="C:/Angular/Store/Store/src/assets/Images/prod_12372370412.jpg"
                alt="Product"
              />
            </div>
            <div class="p">
              <img
                src="C:/Angular/Store/Store/src/assets/Images/prod_12372370412.jpg"
                alt="Product"
              />
            </div>
            <div class="p">
              <img
                src="C:/Angular/Store/Store/src/assets/Images/prod_12372370412.jpg"
                alt="Product"
              />
            </div>
          </div>
          <div class="image">
            <img
              src="C:/Angular/Store/Store/src/assets/Images/prod_12372370412.jpg"
              alt="Product"
            />
          </div>
          <div class="cart-line"></div>
          <div class="cart-item">
            <ul>
              <li>
                <a href=""><i class="fa fa-shopping-basket"></i></a>
              </li>
              <li>
                <a href=""><i class="fa fa-heart"></i></a>
              </li>
              <li>
                <a href=""><i class="fa fa-search"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="content">
          <a href="javascript:void(0);">Incidid Tongue Bar</a>
          <div class="rating">
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
          </div>
          <p>
            <span class="money">₹81.00</span
            ><span class="price-old">₹89.00</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="product">
  <div class="container py-5">
    <div class="row py-4">
      <div class="col-lg-5 m-auto text-center">
        <h1>MEARCH AVAILABALE NOW</h1>
        <h6 style="color: red">BUY NOW</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mb-4" *ngFor="let item of items.slice(0, 3)">
        <div class="card h-100">
          <img
            src="C:/Angular/Store/Store/src/assets/Images/prod_12372370412.jpg"
            class="card-img-top"
            alt="{{ item.name }}"
            height="200px"
            width="100"
          />
          <div class="card-body">
            <p class="card-text text-center">
              <strong>₹.{{ item.price }}</strong
              ><br />
              {{ item.name }}
            </p>
            <button class="btn btn-primary" (click)="addToCart(item)">
              Add to Cart
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mb-4" *ngFor="let item of items.slice(3, 6)">
        <div class="card h-100">
          <img
            src="C:/Angular/Store/Store/src/assets/Images/prod_12372370412.jpg"
            class="card-img-top"
            alt="{{ item.name }}"
            height="200px"
            width="100"
          />
          <div class="card-body">
            <p class="card-text text-center">
              <strong>₹.{{ item.price }}</strong
              ><br />
              {{ item.name }}
            </p>
            <button class="btn btn-primary" (click)="addToCart(item)">
              Add to Cart
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mb-4" *ngFor="let item of items.slice(6, 9)">
        <div class="card h-100">
          <img
            src="C:/Angular/Store/Store/src/assets/Images/prod_12372370412.jpg"
            class="card-img-top"
            alt="{{ item.name }}"
            height="200px"
            width="100"
          />
          <div class="card-body">
            <p class="card-text text-center">
              <strong>₹.{{ item.price }}</strong
              ><br />
              {{ item.name }}
            </p>
            <button class="btn btn-primary" (click)="addToCart(item)">
              Add to Cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<img src="C:/Angular/Store/Store/src/assets/Images/prod_12372370412.jpg" />
<!-- 2nd -->

<!--Cards-->
<!---------------------------------------------------------------------------->
<section class="bg-color">
  <div class="containers">
    <div class="title">
      <p>The Best Seller</p>
      <h2><span>Best</span> Seller</h2>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div class="card-main">
            <div class="discount">-9%</div>
            <div class="label label-green">Pre-order</div>
            <div class="product-container">
              <div class="p" (mouseover)="imageChange($event)">
                <img src="./assets/Images/Batman Tshirt.jpg" alt="Product" />
              </div>
              <div class="p" (mouseover)="imageChange($event)">
                <img src="./assets/Images/Batman Tshirt.jpg" alt="Product" />
              </div>
              <div class="p" (mouseover)="imageChange($event)">
                <img src="./assets/Images/Batman Tshirt.jpg" alt="Product" />
              </div>
            </div>
            <div class="image">
              <img src="{{ url }}" alt="Product" />
            </div>
            <div class="cart-line"></div>
            <div class="cart-item">
              <ul>
                <li>
                  <a href=""><i class="fa fa-shopping-basket"></i></a>
                </li>
                <li>
                  <a href=""><i class="fa fa-heart"></i></a>
                </li>
                <li>
                  <a href=""><i class="fa fa-search"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="content">
            <a href="javascript:void(0);">ANYTHING</a>
            <div class="rating">
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>
              <span class="money">₹ 81.00</span
              ><span class="price-old">₹ 89.00</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-main">
            <div class="discount">-10%</div>
            <div class="label label-green">Pre-order</div>
            <div class="product-container">
              <div class="p">
                <img src="./assets/Images/Batman Tshirt.jpg" alt="Product" />
              </div>
              <div class="p">
                <img src="./assets/Images/Batman Tshirt.jpg" alt="Product" />
              </div>
              <div class="p">
                <img src="./assets/Images/Batman Tshirt.jpg" alt="Product" />
              </div>
            </div>
            <div class="image">
              <img src="./assets/Images/Batman Tshirt.jpg" alt="Product" />
            </div>
            <div class="cart-line"></div>
            <div class="cart-item">
              <ul>
                <li>
                  <a href=""><i class="fa fa-shopping-basket"></i></a>
                </li>
                <li>
                  <a href=""><i class="fa fa-heart"></i></a>
                </li>
                <li>
                  <a href=""><i class="fa fa-search"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="content">
            <a href="javascript:void(0);">ANYTHING</a>
            <div class="rating">
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>
              <span class="money">₹ 81.00</span
              ><span class="price-old">₹ 89.00</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-main">
            <div class="discount">-8%</div>
            <div class="label label-green">Pre-order</div>
            <div class="product-container">
              <div class="p">
                <img src="./assets/Images/Batman Tshirt.jpg" alt="Product" />
              </div>
              <div class="p">
                <img src="./assets/Images/Batman Tshirt.jpg" alt="Product" />
              </div>
              <div class="p">
                <img src="./assets/Images/Batman Tshirt.jpg" alt="Product" />
              </div>
            </div>
            <div class="image">
              <img src="./assets/Images/Batman Tshirt.jpg" alt="Product" />
            </div>
            <div class="cart-line"></div>
            <div class="cart-item">
              <ul>
                <li>
                  <a href=""><i class="fa fa-shopping-basket"></i></a>
                </li>
                <li>
                  <a href=""><i class="fa fa-heart"></i></a>
                </li>
                <li>
                  <a href=""><i class="fa fa-search"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="content">
            <a href="javascript:void(0);">ANYTHING</a>
            <div class="rating">
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>
              <span class="money">₹ 81.00</span
              ><span class="price-old">₹ 89.00</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-main">
            <div class="discount">-6%</div>
            <div class="label label-green">Pre-order</div>
            <div class="product-container">
              <div class="p">
                <img src="./assets/Images/Batman Tshirt.jpg" alt="Product" />
              </div>
              <div class="p">
                <img src="./assets/Images/Batman Tshirt.jpg" alt="Product" />
              </div>
              <div class="p">
                <img src="./assets/Images/Batman Tshirt.jpg" alt="Product" />
              </div>
            </div>
            <div class="image">
              <img src="./assets/Images/Batman Tshirt.jpg" alt="Product" />
            </div>
            <div class="cart-line"></div>
            <div class="cart-item">
              <ul>
                <li>
                  <a href=""><i class="fa fa-shopping-basket"></i></a>
                </li>
                <li>
                  <a href=""><i class="fa fa-heart"></i></a>
                </li>
                <li>
                  <a href=""><i class="fa fa-search"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="content">
            <a href="javascript:void(0);">ANYTHING</a>
            <div class="rating">
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
              <i class="fa fa-star-o"></i>
            </div>
            <p>
              <span class="money">₹ 81.00</span
              ><span class="price-old">₹ 89.00</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--------TEST ONE   -------------------------->
<section class="bg-color">
  <div class="containers">
    <div class="title">
      <p>The Best Seller /p></p>
      <h2><span>Best</span> Seller</h2>
    </div>
    <div class="row">
      <div class="col-md-3" *ngFor="let item of items">
        <div class="card">
          <div class="card-main">
            <div class="discount" *ngIf="item.discount">
              {{ item.discount }}
            </div>
            <div class="label label-green" *ngIf="item.label">
              {{ item.label }}
            </div>
            <div class="product-container">
              <div class="p" (mouseover)="imageChange($event)">
                <img src="./assets/Images/Batman Tshirt.jpg" alt="Product" />
              </div>
              <div class="p" (mouseover)="imageChange($event)">
                <img src="./assets/Images/Batman Tshirt.jpg" alt="Product" />
              </div>
              <div class="p" (mouseover)="imageChange($event)">
                <img src="./assets/Images/Batman Tshirt.jpg" alt="Product" />
              </div>
            </div>
            <div class="image">
              <img src="./assets/Images/Batman Tshirt.jpg" alt="Product" />
            </div>
            <div class="cart-line"></div>
            <div class="cart-item">
              <ul>
                <li>
                  <button class="btn btn-cart" (click)="addToCart(item)">
                    Add to Cart
                  </button>
                </li>
                <li>
                  <a href=""><i class="fa fa-heart"></i></a>
                </li>
                <li>
                  <a href=""><i class="fa fa-search"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="content">
            <a href="javascript:void(0);">{{ item.name }}</a>
            <div class="rating">
              <span
                *ngFor="let star of [1, 2, 3, 4, 5]"
                class="fa fa-star-o"
              ></span>
            </div>
            <p>
              <span class="money">₹{{ item.price }}</span>
              <span class="price-old" *ngIf="item.discount"
                >₹{{ item.price + item.discount }}</span
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--        TEST 2 -->
<section class="product">
  <div class="container py-4">
    <div class="row py-4">
      <div class="col-lg-4 m-auto text-center">
        <h1>MEARCH AVAILABLE NOW</h1>
        <h6 style="color: red">BUY NOW</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mb-4" *ngFor="let item of items.slice(0, 3)">
        <div class="card h-100">
          <img
            [src]="item.imgUrl"
            class="card-img-top"
            alt="{{ item.name }}"
            height="200px"
            width="100"
          />
          <div class="card-body">
            <p class="card-text text-center">
              <strong>₹.{{ item.price }}</strong
              ><br />
              {{ item.name }}
            </p>
            <button class="btn btn-primary" (click)="addToCart(item)">
              Add to Cart
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mb-4" *ngFor="let item of items.slice(3, 6)">
        <div class="card h-100">
          <img
            [src]="item.imgUrl"
            class="card-img-top"
            alt="{{ item.name }}"
            height="200px"
            width="100"
          />
          <div class="card-body">
            <p class="card-text text-center">
              <strong>₹.{{ item.price }}</strong
              ><br />
              {{ item.name }}
            </p>
            <button class="btn btn-primary" (click)="addToCart(item)">
              Add to Cart
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mb-4" *ngFor="let item of items.slice(6, 9)">
        <div class="card h-100">
          <img
            [src]="item.imgUrl"
            class="card-img-top"
            alt="{{ item.name }}"
            height="200px"
            width="100"
          />
          <div class="card-body">
            <p class="card-text text-center">
              <strong>₹.{{ item.price }}</strong
              ><br />
              {{ item.name }}
            </p>
            <button class="btn btn-primary" (click)="addToCart(item)">
              Add to Cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- --------------------------------------->
<section class="bg-colour">
  <section class="policy">
    <div class="containers text-center">
      <div class="row">
        <div class="col-md-4">
          <div class="policy-card">
            <div class="round">
              <div class="round-icon">
                <i class="fa fa-car" style="color: black"></i>
              </div>
            </div>
            <h2 style="color: black">Free Shipping &amp; Return</h2>
            <p>Free shipping on all India order</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="policy-card">
            <div class="round">
              <div class="round-icon">
                <i class="fa fa-refresh" style="color: black"></i>
              </div>
            </div>
            <h2 style="color: black">Money Back Guarentee</h2>
            <p>30 days money back guarentee</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="policy-card">
            <div class="round">
              <div class="round-icon">
                <i class="fa fa-phone" style="color: black"></i>
              </div>
            </div>
            <h2 style="color: black">Online Support 24/24</h2>
            <p>Our team available at your assistant</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
<!---------------------------------------------------# CARDS-->
<br /><br />

<section class="policy-product">
  <div class="containers">
    <div class="row">
      <div class="col-md-4">
        <div class="policy-p-card">
          <div class="date">
            <h3>25</h3>
            <h4>Jan</h4>
          </div>
          <div class="policy-img">
            <img src="./assets/Images/Batman Tshirt.jpg" alt="P1" />
          </div>
          <h2>Product NAME</h2>
          <p>Product Description</p>
          <a href="" class="read-more"
            >Read More<i class="fa fa-caret-right"></i
          ></a>
        </div>
      </div>

      <div class="col-md-4">
        <div class="policy-p-card">
          <div class="date">
            <h3>25</h3>
            <h4>Jan</h4>
          </div>
          <div class="policy-img">
            <img src="./assets/Images/Batman Tshirt.jpg" alt="P1" />
          </div>
          <h2>Product NAME</h2>
          <p>Product Description</p>
          <a href="" class="read-more"
            >Read More<i class="fa fa-caret-right"></i
          ></a>
        </div>
      </div>

      <div class="col-md-4">
        <div class="policy-p-card">
          <div class="date">
            <h3>25</h3>
            <h4>Jan</h4>
          </div>
          <div class="policy-img">
            <img src="./assets/Images/Batman Tshirt.jpg" alt="P1" />
          </div>
          <h2>Product NAME</h2>
          <p>Product Description</p>
          <a href="" class="read-more"
            >Read More<i class="fa fa-caret-right"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>

<!--//////////////////////////////////////////footer-->

<section class="footer-top">
  <div class="containers">
    <div class="row">
      <div class="col-md-4">
        <div class="footer-logo">
          <img src="../assets/Images/add-to-cart (1).jpg" alt="footer" />
        </div>
        <div class="footer-all-menu">
          <ul>
            <li>
              <i class="fa fa-home"> </i>
              <span class="heading">Address</span>
              <span class="Address"> Talent SPrint ,Hyderabad -500001</span>
            </li>
            <li>
              <i class="fa fa-envelope"></i>
              <span class="heading">Mail Us:</span>
              <span class="email">
                <a href="mailto:example@gmail.com">example@gmail.com</a></span
              >
            </li>
            <li>
              <i class="fa fa-phone"></i>
              <span class="heading">Contact Us:</span>
              <span class="number">
                <a href="tel:1234567890">1234567890</a>
              </span>
            </li>
            <li>
              <a href="">
                <img src="" alt="Payment" />
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="footer-all-menu">
          <h2>My Account</h2>
          <ul>
            <li>
              <i class="fa fa-circle"></i>
              <a href="">Information</a>
            </li>
            <li>
              <i class="fa fa-circle"></i>
              <a href="">Order History</a>
            </li>
            <li>
              <i class="fa fa-circle"></i>
              <a href="">My Wishlist</a>
            </li>
            <li>
              <i class="fa fa-circle"></i>
              <a href="">Privacy Policy</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-3">
        <div class="footer-all-menu">
          <h2>Information</h2>
          <ul>
            <li>
              <i class="fa fa-circle"></i>
              <a href="">Cart</a>
            </li>
            <li>
              <i class="fa fa-circle"></i>
              <a href="">Product Support</a>
            </li>
            <li>
              <i class="fa fa-circle"></i>
              <a href="">Setup & Support</a>
            </li>
            <li>
              <i class="fa fa-circle"></i>
              <a href="">Services</a>
            </li>
            <li>
              <i class="fa fa-circle"></i>
              <a href="">Extended Services Plans</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-2">
        <div class="footer-all-menu">
          <h2>Our Services</h2>
          <ul>
            <li>
              <i class="fa fa-circle">
                <a href="">About</a>
              </i>
            </li>
            <li>
              <i class="fa fa-circle"></i>
              <a href="">Shipping Guide</a>
            </li>
            <li>
              <i class="fa fa-circle"></i>
              <a href="">Affilates</a>
            </li>
            <li>
              <i class="fa fa-circle"></i>
              <a href="">Custom Point Policy</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="footer-middle">
  <div class="containers">
    <div class="row">
      <div class="col-md-4">
        <h2>Sign up for our exclusive Newsletter</h2>
      </div>
      <div class="col-md-4">
        <input type="mail" class="input" placeholder="Email" />
        <button type="button" class="btn3">
          <i class="fa fa-location-arrow"></i>
        </button>
      </div>
      <div class="col-md-4">
        <div class="social text-center">
          <ul>
            <li>
              <a href="https://www.facebook.com/yourpage"
                ><i class="fa fa-facebook"></i
              ></a>
            </li>
            <li>
              <a href="https://twitter.com/yourusername"
                ><i class="fa fa-twitter"></i
              ></a>
            </li>
            <li>
              <a href="https://www.pinterest.com/yourusername"
                ><i class="fa fa-pinterest"></i
              ></a>
            </li>
            <li>
              <a href="https://www.instagram.com/yourusername"
                ><i class="fa fa-instagram"></i
              ></a>
            </li>
            <li>
              <a href="https://plus.google.com/yourpage"
                ><i class="fa fa-google-plus"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="containers text-center">
    <p>@ 2023 FSD 38 Team-2<a href="">Developer</a>All Rights Reserved</p>
  </div>
</footer>
